<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<!-- <div th:replace="/common/header :: header"></div> -->
	<div>
		<p th:text="#{product.name}"></p>
		<p th:text="${product.name}"></p>
	</div>
	
	<div>
		<p th:text="#{product.price}"></p>
		<p th:text="${product.price}"></p>
	</div>
	
	<div>
		<p th:text="#{product.description}"></p>
		<p th:text="${product.description}"></p>
	</div>
	
	<div>
		<img th:alt="${product.image}" th:src="@{'/product-image/' + ${product.image} }" width="50%" height="auto" />
		
	</div>
	
	
</body>
</html>